@charset "utf-8";
/* CSS Document */

.clearfix:after,
#container:after,
.booking-details:after,
#content:after,
#proceed-btn:after,
.details-registration-options:after,
.rowElem:after
{content:".";display:block;height:0;clear:both;visibility:hidden;}

 

body { margin:0px; background-image:url("../img/body-bg.jpg"); background-repeat:repeat-x; font-family:Tahoma, Geneva, sans-serif;
    font-size:0.8em;  color:#666; background-color: #E1F4FC;}

ul { list-style-type:square; }
address { padding: 0; font-style: normal; }
acronym { border-bottom: 1px dotted #555; cursor: help; }
code { font-family: "Tahoma", monospace; }
pre { font-size: 1.1em; }
blockquote { margin: 0; padding: 0 50px; background: transparent url("../img/quote.png") no-repeat 0 0; font-style: italic; }


#container { background-image:url("../img/site-bg.jpg");background-repeat:no-repeat;background-position:top;}

/* HEADER STYLE
 ----------------------------------------------- */
#header { width:980px; position:relative; margin:auto;}
#header #logo { background-image:url("../img/coastline-logo.jpg"); width:189px; height:89px; background-repeat:no-repeat; position:relative; left:10px; top:16px;}


/* LANGUAGE links
 ----------------------------------------------- */
#header ul.links { position: absolute; top: 3px; right: 0px;  float: right; list-style: none; font-size:11px; background-repeat:no-repeat;   height:65px; }

.sitemap-img {position:relative;   top:4px; left:6px; height:15px; background-image:url("../img/site_map.gif"); background-repeat:no-repeat; padding:0px; margin:0px;}
.contact-img {position:relative; height:15px; top:4px; left:2px;  background-image:url("../img/contact.gif"); background-repeat:no-repeat;}
.language-cont { width:10px;  }


/* hEADER LANGUAGE CONTAINER
 ----------------------------------------------- */

#header ul.links li {   float: left;  padding: 0 1em;} 
.language,.language:active,.language:visited,.language:link{  position:relative; top:6px; left:2px; font-family:tahoma; font-size:11px;   color:#666; /*F47F20; */text-decoration:none;}
.language:hover { font-family:tahoma; font-size:11px;  color:#0796e5; text-decoration:none;}
.small-line{ width:5px; position:relative; left:5px; top:7px; background-image:url("../img/line.gif"); background-repeat:no-repeat;}
#header ul.links .linie  {width:3px; padding:0px; margin-bottom:2px; color:#FFF;}

.language2,.language2:active,.language2:visited,.language2:link{ position:relative; padding:1px; padding-left:2px; padding-right:2px; top:6px; font-family:tahoma; font-size:11px;   color:#666; /*F47F20; */text-decoration:none;}
.language2:hover { font-family:tahoma; font-size:11px;  color:#fff; padding:1px; padding-left:2px; padding-right:2px; text-decoration:none; background-color:#333;}
 #sel {  font-family:tahoma; font-size:11px;  color:#fff; padding:1px; padding-left:2px; padding-right:2px; text-decoration:none; background-color:#333;}

#search-block-form { clear: both; float: left; width: 200px;    position:relative; top:18px;  left:10px; } 
#search-block-form .text { float: left;  padding: 4px 6px 4px; color: #999; font-size:11px; }
#search-block-form .btn{ float: left; margin-top: 1px;   padding-left: 2px; padding-right:2px; background: transparent url("../img/btn-submit-lft.png") no-repeat 0 0; position:relative; left:3px; }
#search-block-form  .submit{ display: inline-block;   height: 22px;  border: none; background: transparent url("../img/btn-submit-rgt.png") no-repeat 100% 0; color: #fff; font-weight: bold; font-size:11px; padding-bottom:3px; padding-right:7px; font-family:Tahoma; text-transform: uppercase; line-height: 11px; }



/* STIL MENIU
 ----------------------------------------------- */

ul.menu { position: relative; clear: both; width: 980px; height: 41px; padding: 8px 2px 6px 10px; background: transparent url("../img/menu_bg.png") no-repeat 0 0; list-style: none; z-index: 50; outline:none; }
ul.menu li { position: relative; float: left; margin: -1px 0 0 -2px; padding-left: 1px; background: transparent url("../img/menu-separator.png") no-repeat 0 0; text-transform: uppercase;  outline:none; font-family:Arial; font-size:11px;}

ul.menu li:hover { overflow: visible; }
ul.menu li ul { margin-left: -9000px; }
ul.menu li a { display: inline-block; padding: 0 25px; background: transparent url("../img/menu_hover.png") no-repeat 0 -1000px; color: #666; line-height: 38px;  text-decoration:none;   }
ul.menu li a.logged-in  { display: inline-block; padding: 0 15px;  background: transparent url("../img/menu_hover.png") no-repeat 0 -1000px; color:#900; line-height: 38px;  text-decoration:none;   } 
ul.menu li a:hover,
ul.menu li a.hover,
ul.menu li a.active { background-position: 50% 0; color: #63841e; text-decoration: none; }
ul.menu li.first { background: transparent; }
ul.menu li.first a:hover,
ul.menu li.first a.hover { background-position: -1px 0; }

ul.menu li.last { float: right; background: transparent none; }
ul.menu li.last a { padding-left: 20px;  color: #f1aa0e;  text-decoration:none; }
ul.menu li.last a:hover { background-position: 0 -94px; color: #000; }

ul.menu li:hover ul,
ul.menu ul.selected { margin-left: 0px; margin-top: -3px; padding-top: 6px; }
ul.menu ul { list-style: none; position: absolute; left: 0; top: 35px; z-index: 20; width: 180px; padding: 0; margin-top: 3px; background: transparent url("../img/menu-submenu-top.png") no-repeat 0 0; font-size: .9167em; }
ul.menu ul li { position: relative; margin-top: 0 !important; float: none; /*border-bottom: 1px solid #cce696;*/ background: transparent url("../img/menu-submenu.png") no-repeat 0 100%; text-transform: none; }/*#bbde73*/
ul.menu ul li.last { float: none; padding-bottom: 6px; border: none; background: transparent url("../img/menu-submenu-last.png") no-repeat 0 100%; }
ul.menu ul li a { display: block; background: transparent none !important; color: #5a7129; line-height: 24px; text-decoration:none; }
ul.menu ul li a:hover { background: transparent none; color: #fbfddf; }
/* ul.menu ul li a.active { background: transparent url("../img/menu-submenu.png") no-repeat 0 100% !important; color: #fbfddf; }*/
ul.menu ul li.last a:hover { color: #fbfddf; }
ul.menu ul li.last a { color: #5a7129; }
ul.menu ul li.first { background: transparent url("../img/menu-submenu.png") no-repeat 0 100%; }
ul.menu ul ul { display: none; }

ul.menu .client-login, ul.menu .client-login:hover {   position:relative; top:5px; left:200px; background-color:#bbde73;  display: inline-block; padding: 5px 5px 5px 5px;   color: #666; line-height: 18px;  text-decoration:none; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px;	border-radius: 4px;}



/* LOGOUT MENU - ACCOUNT
--------------------------------------------- */
 #topnav { float:right; margin-top:0px;
    padding:18px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
}
#topnav a.logout {
    background:#59B;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("../img/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.logout:hover {
    background:#88bbd4;
    *background:transparent url("../img/toggle_logout2.png"); no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.logout, #topnav a.logout:hover {
    *background-position:0 3px!important;
}

a.logout {
    position:relative;
    margin-left:3px;
}
a.logout span {
    background-image:url("../img/toggle_logout.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}






/* SIGN IN
--------------------------------------------- */
 
#topnav a.my-account {
    background:#59B;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("../img/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.my-account:hover {
      background:#88bbd4;
    *background:transparent url("../img/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.my-account, #topnav a.my-account:hover {
    *background-position:0 3px!important;
}

a.my-account {
    position:relative;
    margin-left:8px;
}
a.my-account span {
    background-image:url("../img/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#account_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 66px;
    right: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}

#account_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ddd;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#account_menu p {	margin:0;}
#account_menu a {	color:#e37d4c;}
#account_menu a:hover {	color:#333;}
#account_menu label {	color:#666; font-weight:normal;}
#account_menu p.remember {	padding:10px 0;}
#account_menu p.menu {clear:both;	margin:5px 8px; border:1px solid #fff; padding:4px; background-color:#fff;    
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;	
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;	
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;}
	
#account_menu p a {	color:#e85900!important; font-weight:bold;} 
#topnav a.signin {
    background:#59B;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;	
    *background:transparent url("../img/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.signin:hover {
    background:#88bbd4;
    *background:transparent url("../img/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    position:relative;
    margin-left:3px;
}
a.signin span {
    background-image:url("../img/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#topnav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span {
    background-image:url("../img/toggle_up_dark.png");
    color:#789; 
}
#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 64.5px;
    right: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#signin_menu p {	margin:0;}
#signin_menu a {	/*color:#6AC;*/}
#signin_menu label {	font-weight:normal;}
#signin_menu p.remember {	padding:10px 0;}
#signin_menu p.forgot, #signin_menu p.complete {clear:both;	margin:5px 0;}
#signin_menu p a {}
#signin_submit {-moz-border-radius:4px;	-webkit-border-radius:4px; background:#39d url("../img/bg-btn-blue.png") repeat-x scroll 0 0;border:1px solid #39D; color:#fff; text-shadow:0 -1px 0 #39d; padding:4px 10px 5px; font-size:11px; margin:0 5px 0 0; font-weight:bold; float:left}
.resend_password_link { width:150px;}
a.registerBtn {-moz-border-radius:4px;	-webkit-border-radius:4px; background:#39d url("../img/bg-btn-blue.png") repeat-x scroll 0 0;border:1px solid #39D; color:#fff; text-shadow:0 -1px 0 #39d; padding:4px 10px 5px; font-size:11px; margin:0 5px 0 0; font-weight:bold; text-decoration:none;}
.forgot a,.forgot a:visited,.forgot a:active,.forgot a:link { color:#FFF;}
#signin_submit::-moz-focus-inner {padding:0;border:0;}
#signin_submit:hover, #signin_submit:focus { background-position:0 -5px; cursor:pointer;}

.tipsy-inner {
    padding:10px 15px;
    line-height:1.5em;
    font-weight:bold;
}
.tipsy {
    opacity:.8;
    filter:alpha(opacity=80);
    padding:5px;
    position:absolute; top:0px; left:0px;
    z-index:170;
    background-image:url(../img/tipsy.gif);
    background-repeat:no-repeat;  background-position:top;
}
.tipsy-inner {
    padding:8px 8px;
    max-width:200px;
    font:11px 'Lucida Grande', sans-serif;
    font-weight:bold;

    -moz-border-radius:4px;
    -khtml-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#000;
    color:white;
    text-align:left;
}






ul.menu  ul li.green { float:right; position:relative; left:100px; }
ul.menu li a.emph { color:#8aab43; font-weight:bold}
ul.menu  #user-greeting {clear:both;  height:40px; float:right; margin-right:30px; background-image:none;}
ul.menu  li #user-icon  {position:relative; top:2px; left:10px; text-transform:none;}
ul.menu  li #user-icon img {position:relative; top:5px;}




 
/* CONTENT CONTAINER
----------------------------------------------- */
#content-container{ width:970px; position:relative;left:8px; top:20px;  margin:auto;  background-color:#FFF; margin-bottom:40px;}
#content-container .top { background-image:url(../img/bg-porto.gif); background-repeat:repeat-y; width:968px; height:24px; position:relative; left:1px; top:1px;}
#content-container .bottom { clear:both;  background-image:url(../img/content-footer.gif); width:971px;  position:relative;  height:22px;}
#content-container .bottom-wide { clear:both;  background-image:url(../img/content-footer-wide.gif); width:971px;  position:relative;  height:22px;}
#content-container .content { width:100%;}
#content-container .content #secondary-content { width: 234px; float:left; /* border-right:1px solid #d6d6d6;*/}
#content-container .content #main-content { float:right; width:730px; font-size:11px;}
#destinations-content p { padding:10px;}  


.altrow { background-color:#efefef;}
.users td {border-right:1px solid #ddd;}
 
.search-form input {	font-family: Tahoma;color:#333; background-color:#efefef;	font-size: 11px;}

/* BOX 1*/ 
.group-form-grey {  border:1px solid #b2c3e2;   padding:10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px;	border-radius: 4px;}
.group-form-grey strong { color:#666;}

/* BOX 2*/
.group-form-grey-light { background-color:#f5f5f5; border:1px solid #b2c3e2; padding:9px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px;	border-radius: 4px;}

/* BOX 3*/
.group-form-grey-lightest { background-color:#fbfbfb; border:1px solid #b2c3e2; padding:9px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px;	border-radius: 4px;}


/* searchRow & search form
--------------------------------------------- */
.search-form { margin:10px;  color:#666; }
.searchRow{ margin-bottom: 10px; }
.searchRowMr{  	margin-bottom: 10px;   margin-top:0px;  padding-bottom:40px; }
.booking-details .searchRow-lft{	margin-bottom: 10px; float:left; padding-right:3px; }
.booking-details .searchRow-lft input {width:108px;}
.booking-details .searchRow-rght{	margin-bottom: 10px; position:relative; left:10px;}
.booking-details .searchRow-rght input {width:118px;}
select.full{ outline:none;color:#333;	background-color:#fff; border:1px solid #b2c3e2; width: 94%;padding: 1px;}
select.small{outline:none;color:#333;font-size:10px;min-width:62px; padding: 1px; background-color:#fff; border:1px solid #b2c3e2;}
select.tiny{outline:none;color:#333;font-size: 10px; padding: 1px;  background-color:#fff; border:1px solid #b2c3e2;}
.search-form input.full { color:#333;	background-color:#fff; border:1px solid #b2c3e2;  	width: 91%;	padding: 2px 1px;}
input.inputs{outline:none; color:#333; background-color:#fff;  width: 300px; }

input.inputsSmall{  color:#333; background-color:#fff;  width: 124px;}
.floatParent{ overflow: hidden; height: auto;}

 
/* SEARCH FORM
--------------------------------------------- */
.search-form label{ display: block; color: #333333; margin-bottom: 3px; }
.search-form div.left{  width: 43%; float: left;}
.search-form, .search-form select { font-size:11px; font-family:Tahoma, Geneva, sans-serif;}
.search-form div.right{ width: 49%; float: right;}
.search-form div.innerLeft{  width: 49%;  float: left;}
.search-form div.innerRight{ width: 49%; float: right;}
.search-form div.tiny{ font-size: 10px; padding-top: 3px;}
.search-form div.searchSep{ border-bottom: 1px solid #9d9d9d; margin: 10px 0 10px 0;}

 
.search-form    .submit{ display: inline-block; width:216px; height: 22px;  border: none; background: transparent url("../img/btn-submit.png") no-repeat 100% 0; color: #fff; font-weight: bold; font-size:11px; font-family:Tahoma; text-transform: uppercase; line-height: 11px; text-shadow:0 -1px 0 #000;cursor:pointer; }
.search-form    .submitDisabled{ display: inline-block; width:216px; height: 22px;  border: none; background: transparent url("../img/btn-submit-disabled.png") no-repeat 100% 0; color: #fff; font-weight: bold; font-size:11px; font-family:Tahoma; text-transform: uppercase; line-height: 11px; text-shadow:0 -1px 0 #666; cursor:wait;}


/* page Footer
--------------------------------------------- */
.footer {  font-size:11px; width:930px;  position:relative;  margin:35px auto 30px auto; color:#999;}
.linesep { height:1px; display:block; margin:10px 0; background:#dddddd; font-size:1px; line-height:1px;}
.linesep2 { height:2px; display:block; margin:10px 0; background:#222; font-size:1px; line-height:1px;}
.linesepdot { height:1px; display:block; margin:10px 0; background:#fff; font-size:1px; line-height:1px; border-top:1px #ccc dotted}

.footer a { color:#555;}
.footer .sep {   padding:0 8px; background-image:url("../img/line-sep.gif"); background-position:center; opacity:0.4; }
.footerNav { float:left;}
.footerNav a{ text-decoration:none}
 a.gototop { background:url("../img/ico-gototop.gif") no-repeat top left; padding:0 0 0 17px; }
.footerLang { text-align:right;}
.footerLang .sel { background:#000; color:#FFF; padding:1px 4px;}
.footerLang .sep { color:#666; padding:0 4px; }
.footerLang a { text-decoration:none;}
.footerCopy { float:left;}

.footerSites {text-align:right; font-weight:normal;}
.footerSites a { font-weight:normal;}

#gototop { display:none; width:70px; color:#666; font-size:.9em; position:fixed; right:0px; bottom:50px; padding:5px 5px 5px 16px; z-index:300; border-top:0px #e8e8e8 solid; background: #fff url("../img/ico-gototop.gif") no-repeat center left;  }
#gototop:hover	{ text-decoration:underline; }



/* USER LOGIN FORM
--------------------------------------------- */
input.form-error {border: red solid 1px;}
.error-message {color: red; }


#UserLoginForm {   border:1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px;-khtml-border-radius: 4px;
border-radius: 4px;width:300px; position:relative; margin:auto; background-image:url("../img/admin-login.gif");background-repeat:no-repeat; background-position:left; margin-top:50px;}
#UserLoginForm h2 { padding-left:80px; color:#f47f20;}
#UserLoginForm  { padding:20px; padding-left:100px;}
#UserLoginForm   p{ width:220px; padding-bottom:10px;}
#UserLoginForm   input{float:right;}
#UserLoginForm  .submit {-moz-border-radius:4px;	-webkit-border-radius:4px; background:#39d url("../img/bg-btn-blue.png") repeat-x scroll 0 0;border:1px solid #39D; color:#fff; text-shadow:0 -1px 0 #39d; padding:4px 10px 5px; font-size:11px; margin:0 5px 0 0; font-weight:bold; text-decoration:none;   margin-left:33px;}
#UserLoginForm  .submit input { background-color:transparent; border:0px; color:#FFF;  text-shadow:0 -1px 0 #39d; font-weight:bold; font-size:13px; cursor:pointer; width:244px;  height:17px; padding-left:3px;}

.LV_validation_message{font-weight:bold; margin:0 0 0 5px; padding-top: 3px;}
.LV_valid { display: none;}
.LV_invalid { color:#CC0000;}
.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

#ajax-loading-large { text-align: center; width:100%; height:400px; padding-top: 200px; margin:auto;}

#ajax-loading-large img{ }

#main-content .view dl { list-style:none; display:inline;}
#main-content .view dl dt { width:130px; float:left; padding:10px; font-weight:bold; text-align:right; border-right:1px dotted #999;}
#main-content .view dl   dd {   padding:10px; padding-left:120px; }
#main-content .view {padding:10px;}