.bash_logout
.bash_profile
.bashrc
bin/*
_backup/*
img/*
.contactemail
.cpanel/
cpbackup-exclude.conf
.cphorde/
.dns
etc/
.ftpquota
.gemrc
git-1.7.9.2/*
git-1.7.9.2.tar.gz
.htpasswds/*
lib
.lastlogin
lib/*
lib64/*
libexec/
logs/
mail/
.pearrc
perl5
php/*
public_ftp/*
share/*
.softaculous/
.ssh/*
ssl/*
tmp/*
.trash/
.zshrc
